body { 
    background: #1f1f1f; 
    color: rgb(216, 213, 213); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.container { 
    width: 600px; 
    margin: 60px auto; }
textarea { 
    width: 100%; 
    height: 50px;
    padding: 10px; 
    }
button { 
    width: 100%; 
    padding: 14px;
    background: rgb(123, 68, 190); 
     border: none; 
     color: rgb(255, 255, 255); 
     font-size: 18px; 
     cursor: pointer; 
     margin-left: 10px;
     border-radius: 10px;
    }
.answer { 
    background: #323232; 
    margin-top: 10px; 
    padding: 12px; 
    white-space: pre-wrap; 
    margin-left: 15px;
    border-radius: 20px;
}
button:hover { 
    background: rgb(146, 109, 192); 
    }
h1 { 
    text-align: center; 
    margin-bottom: 20px;
    }
